  <meta name="description" content="{{ social.description }}" />
  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="{{ social.site_name }}" />
  <meta property="og:title" content="{{ social.title }}" />
  <meta property="og:description" content="{{ social.description }}" />
  <meta property="og:url" content="{{ social.url }}" />
  <meta property="og:image" content="{{ social.image_url }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ social.title }}" />
  <meta name="twitter:description" content="{{ social.description }}" />
  <meta name="twitter:image" content="{{ social.image_url }}" />
